.footer {
    background: #101828;
    height: 380px;
}


.footer__container {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 592px 280px 280px;
    flex-direction: column;
    color: #D1D5DC;
    margin-bottom: 30px;



}
.footer__container .footer__mark{
    margin-top: 50px;
}
.footer__container .footer__mark p{
    margin-top: 16px;
    font-family: Segoe UI;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;

}

.footer__links {
  margin-top: 50px;
}
.footer__links p {
 font-family: Segoe UI;
font-weight: 600;
font-style: Semibold;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;


}

.footer__links .link__menu {
    color: #D1D5DC;
    display: block;
    padding: 10px 0 10px 0 ;
  

}

.footer__mark__img img {
    margin: 15px 15px 0 0;
}

.footer__contato {
    margin-top: 50px;
}
.footer__contato p{
    font-family: Segoe UI;
    font-weight: 600;
    font-style: Semibold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FFFFFF;
 

}

.footer__contato ul li {
   list-style: none;
   margin: 8px 0 8px 0;
   font-family: Segoe UI;
   font-weight: 400;
   font-style: Regular;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0%;
   
}
.footer__contato ul li img{
 margin: 4px 4px 0 0;
}

hr {
    width: 1200px;
    margin: auto;
    border: 1px solid #364153;
   
}

.footer .copyright {
    color: #D1D5DC;
    text-align: center;
    margin: 30px;
    font-family: Segoe UI;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;

    
}