.ecovive{
    text-align: center;
    width: 1200px;
    margin: auto;
}

.ecovive h1 {
    margin: 80px 0 16px 0;
    font-family: Segoe UI;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}
.ecovive p {
    font-family: Segoe UI;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
}

.ecovive .ecovive__items {
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 65px;
    gap: 32px;
  
}

.ecovive .ecovive__items div {
    background: #F9FAFB;
    border-radius: 16px;
    height: 220px;

}

.ecovive .ecovive__items img{
    width: 64px;
    height: 64px;
    position: relative;
    top: 24px;
}

.ecovive .ecovive__items h4{
    margin-top: 40px;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
   text-align: center;


}

.ecovive .ecovive__items p {
    font-family: Segoe UI;
    font-size: 16px;
    color: #4A5565;
    text-align: center;
    font-weight: 400;
    font-style: Regular;
    margin-top: 10px;
    margin-bottom: 18px;

}


.ecovive .ecovive__items .verProd {
    position: relative;
    left: 23px;
    text-decoration: none;
    color: #005900;
    font-family: Segoe UI;
    font-weight: 600;
    font-style: Semibold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

}